body{
    margin:auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

h{
    font-size:40px;
}

a{
    text-decoration:none;
    color:rgb(187, 54, 54);
}


heading{
    font-weight: bolder;
    text-decoration:underline;
    font-family:'Courier New', Courier, monospace;  
    font-size:28px;
}


.message{
    display:block;
    width:60%;
    padding:10px;
    max-width:40%; 
    padding-top: 10px;
    text-align:center;
    margin: 0px;
}


.message .hello-there{
    display:block;
    position: relative;
    width:100%;
    /*max-width:500px;*/
    padding-top: 10px;
    text-align:center;
    font-size:18px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.photo, .prog{
    transition:0.6s ease-in-out;
    color:rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    display:inline-block;
    margin:10px;
    max-width:300px;
    padding:10px;
    text-align:center;
    font-size:18px;    
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.photo:hover, .prog:hover{
    transition:0.6s ease-in-out;
    color: rgb(255, 255, 255);
    background-color: rgb(19, 17, 17);
    display:inline-block;
    margin:10px;
    box-shadow: rgba(0, 0, 0, 0.404) 3px 3px 2px;
    box-shadow: rgba(0, 0, 0, 0.274) 5px 5px 2px;
    max-width:300px;
    padding:10px;
    text-align:center;
    font-size:18px;    
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.images{
    /*font-weight:bold;*/
    text-align: center;
    margin:0px auto;
    font-size: 50px;
    color:white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    
    background-color:rgba(12, 10, 10, 0.788);
    background-attachment: fixed;
    display:block;
    width:100%;
    height:20cm;
    border-bottom:4px inset;
    animation-name:img_change;
    animation-duration: 40s;
    animation-delay: initial;
    animation-direction: normal;
    overflow: hidden;
    animation-iteration-count: infinite;
}

@keyframes img_change{
    0%{
        left:0%;
        overflow: hidden;
        background-image: url("gallery/photo1.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-size:100% 20cm auto;
        background-image: linear-gradient(to-right,rgba(15, 15, 15, 0.507),rgba(37, 33, 33, 0.5));
    }

    25%{
        overflow: hidden;
        background-image:url("gallery/photo2.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-size:100% 20cm auto;
        background-image: linear-gradient(to-right,rgba(15, 15, 15, 0.507),rgba(37, 33, 33, 0.5));
    }

    50%{
        background-image: url("gallery/photo3.jpg");
        background-size: cover;
        overflow: hidden;
        background-repeat: no-repeat;
        background-size:100% 20cm auto;
        background-image: linear-gradient(to-right,rgba(15, 15, 15, 0.507),rgba(37, 33, 33, 0.5));
    }

    75%{
        overflow: hidden;
        background-image:url("gallery/photo4.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-size:100% 20cm auto;
        background-image: linear-gradient(to-right,rgba(15, 15, 15, 0.507),rgba(37, 33, 33, 0.5));
    }

    100%{
        overflow: hidden;
        background-image: url("gallery/photo5.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-size:100% 20cm auto;
        background-image: linear-gradient(to-right,rgba(15, 15, 15, 0.507),rgba(37, 33, 33, 0.5));
    }
}

.socialmedia{
    display:inline-block;
    position:-webkit-sticky;
    position:sticky;
    bottom:0;

}

.logo{
    width:40px;
    height:40px;
    opacity:0.8;
    padding:10px;
    text-align: center;
}

.logo:hover{
    width:40px;
    height:40px;
    opacity:1;
    transition: 0.6s ease-in-out;
    transform: translateY(-3px);
    text-align:center;
}

#quote{
    display:block;
    font-weight:italic;
    font-size: 15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    opacity:0.8;
    width:400px;
    margin:auto;
    max-width: (fit-content/2-200);
    color:rgb(88, 88, 88);
}

#img{
    transform: translateY(230px);
}
